# React Native
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# PHP
/backend/vendor/
/backend/.env
/backend/storage/*.key
/backend/storage/logs/*
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.tmp 